:root {
  --primary: #3498db;
  --primary-light: #bee4fe;
  --light: #fff;
  --error: #e74c3c;
}

a {
  font-weight: 500;
  color: var(--primary);
  text-decoration: inherit;
}

a:hover {
  color: var(--primary);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

button {
  font-weight: 500;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 1rem;
  background-color: var(--primary);
  padding: 0.5rem 1rem;
  color: var(--light);
  border-radius: 5px;

}

.text-center {
  text-align: center;
}