.table {
    border-collapse: collapse;
    width: 100%;
}

.th {
    font-size: 18px;
    padding: 12px;
    border: 1px solid #eee;
    text-align: left;
    background-color: var(--primary-light);
    text-transform: capitalize;
}

.td {
    border: 1px solid #eee;
    text-align: left;
    padding: 1rem;
}